html {
    scroll-behavior: smooth;
}


body {
    color: #f07b05;
    font-family: 'Jura', sans-serif;
    margin: 0 auto;
    background-color: rgb(11,11,11);
    box-sizing: border-box;
}

hr {
    padding: 0px 0px;
    margin: 0px 0px;
}
h1 {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-bottom: 1rem;
}

h5 {
    color: rgba(180, 180, 180, 0.9)
}

p {
    color: rgb(220,220,220)
}
/* HEADER */
header {
    text-align: center;
    background-image: linear-gradient(to right, green, black, black, black, black, black, green);
    border-bottom: 2px solid rgba(15,15,15,.9);
}

header img {
    height: auto;
    width: 25%;
    margin-top: 1rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, green, black, rgb(9,9,9), rgb(9,9,9), rgb(9,9,9), black, green);
}

nav a {
    text-decoration: none;
    color: goldenrod;
}

nav a:hover {
    color: white;
}

/* MAIN */

main{
    text-align: center;
}

/* MAIN RESULTS CONTAINER */

#results-container {
    margin: 2rem 2rem 1rem 2rem;
    text-align: center;
}

#lead-desc {
    width: 1000px;
    height:300px;
    margin: 0 auto;
    font-size: 1.25rem;
}
#lead-desc h1 {
    font-size: 2rem;
}

#lead-desc p {
    text-align: left;
}

a.class-change {
    text-decoration: none;
    color: white;
}

a.class-change:visited {
    color:white;
}
/* PLANET CONTAINER */

#planets-container-flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

#planets-container-flex h4 {
    color: rgb(220,220,220);
}
.planet-card img{
    height: 250px;
    opacity: 1;
    border-radius: 15px;
    border: 1px solid gray;
    transition: .25s;
}

.planet-card img:hover {
    border: 1px solid #f07b05;
    cursor: pointer;
    transform: scale(1.05);
}

.planet-card {
    margin-bottom: 3rem;
    position: relative;
}

.k10::after{
    background-image: url('../../resources/k10.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
}
/* FOOTER */

footer {
    text-align: center;
}

footer h4 {
    opacity: .8;
    font-size: .75rem;
}

footer h2 {
    margin-bottom: 0px;
}

html, body {
    /*fixes whitespace to the right somehow idfk*/
    /*dont give any element with 100% width any padding*/
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }

  /* MOBILE STUFFS */

  /* RESPONSIVE NAV */

  @media only screen and (max-width: 460px) {
    nav {
        display: block;
    }

    nav h2 {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 666px) {
    nav a {
        font-size: 1.2rem;
    }

    nav {
        background-image: linear-gradient(to right, black, black);
    }

}

@media only screen and (max-width: 360px) {
    header img {
        height: auto;
        width: 100%;
    }

    nav h2 {
        margin-bottom: 10px;
    }

    header {
        background-image: none;
        background-color: black;
    }
}

/* RESPONSIVE BODY */

@media only screen and (max-width: 1080px) {
    #lead-desc {
        width: 100%;
        height:300px;
        margin: 0 auto;
        font-size: 1.25rem;
    }

    #planets-container-flex {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 850px) {
    #planets-container-flex {
        margin-top: 220px;
    }
}

@media only screen and (max-width: 580px) {
    body {
        text-align: center;
    }
    .planet-card img{
        height: auto;
        width: 90%;
    }

    .pilot-card img {
        height: auto;
        width: 75%;
    }
}
@media only screen and (max-width: 460px) {
    #planets-container-flex {
        margin-top: 350px;
    }
}

@media only screen and (max-width: 350px) {
    #planets-container-flex {
        margin-top: 500px;
    }
}